@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/bg.svg");
  background-size: cover;

  color: white;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 30px;
  border-radius: 15px;

  backdrop-filter: blur(10px);

  background: rgb(50, 104, 184);
  background: linear-gradient(300deg, rgba(50, 104, 184, 0.8) 0%, rgba(0, 18, 32, 0.8) 100%);
  
  cursor: pointer;
}

.card:hover {
  transform:translateY(-3px);

  transition: all .3s ease-in-out;
}

.clock {
  font-size: 50px;
}